@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.News {
    /* background-attachment: fixed;
    background-repeat: no-repeat; */
    height: 100vh;

    /* background-image: url('../Img/Background/newsPage.jpg'); */
    /* background-position: fixed; */
    height: 100vh;
    width: 100%;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60%;
}


.carousel__container {
    border-radius: 15px;
    margin-top: 180px;
    width: 80% !important;
    height: 77% !important;
}

.swiper__slide {
    position: relative;
    width: 100%;
}

.swiper__slide img {
    filter: blur(5px);
    -webkit-filter: blur(7px);

    max-width: auto;
    height: 100%;
    object-fit: cover;
    background-position: center;
    width: 100%;
}

.news__header {
    color: rgb(13, 103, 177);
    font-size: 1.5em;
    border-radius: 15px;
    position: absolute;
    align-items: center;
    z-index: 99;
    /* padding: 3e; */
}


/* News Blogs */


.news__blogs {
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    margin-bottom: 5px !important;
    text-align: center;
    background-color: #64888d75;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.bg1 {
    background-image: url(../Img/Blogs/1.jpg) !important;
    object-fit: contain !important;
    background-position: center;
}

.bg2 {
    background-image: url(../Img/Blogs/2.jpg) !important;
    object-fit: contain !important;
    background-position: center;
}

.bg3 {
    background-image: url('../Img/Blogs/aboutme.jpg') !important;
    object-fit: scale-down !important;
    background-position: center;
    background-size: cover;
}

.bg4 {
    background-image: url('../Img/Blogs/4.jpg') !important;
    object-fit: scale-down !important;
    background-position: center;
    background-size: cover;
}

.bg5 {
    background-image: url('../Img/Blogs/5.jpg') !important;
    object-fit: scale-down !important;
    background-position: center;
    background-size: cover;
}

.bg6 {
    background-image: url('../Img/Blogs/6.jpg') !important;
    object-fit: scale-down !important;
    background-position: center;
    background-size: cover;
}

.card__text {
    text-align: justify;
}

.left__column {
    float: left;
    width: 75%;
}

.left__column .card__img {
    height: 350px;
}

.left__column .news__card {
    text-align: left;
    padding-left: 0px;
}

.right__column {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.right__column .card__img {
    height: 150px;
}

.news__card {
    background-color: rgba(255, 255, 255, 0.281);
    padding: 20px;
    margin: 70px 30px;
    border-radius: 15px;
}

.card__heading {
    margin-bottom: 15px;
    padding-left: 26px;
}

.card__description {
    margin: 10px;
    padding-left: 20px;
}

.card__text {
    padding-left: 26px;
}

.card__img {
    background-image: url('../Img/Background/newsPage.jpg');
    object-fit: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

/* @media screen and (min-width: 601px) {
    .news__header {
        font-size: 1.5em;
        background-color: #b9aaaa75;
        padding: 6vh 20vh;
        margin: 18% 5% 0 10%;
    }


} */

@media screen and (min-width: 1000px) {
    .news__header {
        font-size: 1.5em;
        background-color: #b9aaaa75;
        padding: 21vh 10vh;
        margin: 5%;
        margin-top: 12%
            /* margin-bottom: 50%; */
    }
}

/* 
@media screen and (max-width: 800px) {

    .left__column,
    .right__column {
        width: 100%;
        padding: 0;
    }

    .News {
        margin-bottom: 100%;
        margin-top: 45%;
    }
}

@media screen and (max-width: 600px) {
    .news__header {
        font-size: 1.2em;
        background-color: #b9aaaa75;
        padding: 3vh 10vh;
        margin: 22% 5%;
    }
}

@media screen and (max-width: 500px) {

    .left__column,
    .right__column {
        width: 100%;
        padding: 0;
    }

    .News {
        margin-bottom: 200%;
        margin-top: 45%;
    }
} */