@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.what-is-depression .intro-img {
    height: 100vh;
    width: 100%;
    background: url("../Img/Background/what-is-depression-background-1.jpg"); 
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  .what-is-depression .intro-img2 {
    background: url("../Img/Background/what-is-depression-background-2.jpg");
    background-size: cover;
  }
  
  .what-is-depression .intro-img3 {
    background: url("../Img/Background/what-is-depression-background-3.jpg");
    background-size: cover;
  }
  
  .what-is-depression .intro-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  
  .what-is-depression .intro-page .intro-contentpane {
    background: rgba(49, 49, 49, 0.204);
    width: 70%;
    height: 60vh;
    border-radius: 10px;
    padding: 30px 20px;
    backdrop-filter: blur(2px);
    z-index: 0;
    margin: 0 auto;
  }
  
  .what-is-depression .intro-page .intro-contentpane h1 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  .what-is-depression .news-page {
    width: 100%;
    height: 100vh;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(237, 237, 237);
    backdrop-filter: blur(5px);
  }
  
  .what-is-depression .news-page > .title {
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(84, 84, 84);
  }
  
  .what-is-depression .news-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 60vh;
  }
  
  .what-is-depression .news-page > a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 50px;
    width: 200px;
    font-weight: bold;
    color: #659bdb;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    border-radius: 5px;
  }
  
  .what-is-depression .news-page > a:hover {
    background-color: rgba(233, 233, 233, 0.905);
  }
  
  .what-is-depression .contact-page {
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  
  .what-is-depression .intro-page .intro-contentpane p {
    padding: 20px;
    font-size: 2rem;
    color: #fefefecc;
  }

  @media only screen and (max-width: 800px) {
    .what-is-depression .intro-page .intro-contentpane {
        margin: 150px auto;
        width: 90%;
    }

    .what-is-depression .intro-page .intro-contentpane h1,.prevention-page .prevention-content-pane h1 {
        font-size: 2.4rem;
        padding: 10px;

    }

    .what-is-depression .intro-page .intro-contentpane p,.prevention-page .prevention-content-pane p {
        font-size: 1.6rem;
        padding: 10px;
    }
  }